* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.posts-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}
.form-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
img {
  width: 200px;
}
